<div class="center">
  <div class="aboutnav" id="myaboutnav">
    {% assign sorted_navorder = site.about | sort: "nav_order" %}
    {% for guh in sorted_navorder %}
      <a href="{{ guh.permalink }}" {% if guh.url == page.url %} class="active" {% endif %}> {{ guh.title }} </a>
    {% endfor %}

    <a href="javascript:void(0);" class="icon" onclick="menu()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<script>
  function menu() {
    var x = document.getElementById("myaboutnav");
    if (x.className === "aboutnav") {
      x.className += " responsive";
    } else {
      x.className = "aboutnav";
    }
  }
</script>